<div class="chat-panel">
  <div class="card-content">
    <strong><%= message.user.username %></strong>
    <span class="pull-right"><%= message.message_time %></span>
    <br/>
    <div class="row-space-2">
      <%= message.content %>
    </div>
  </div>
</div>
