// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FDBF50;
$orange: #E67E22;
$light-green: #E9EDE0;
$dark-green: #8DA05E;
$darker-green: #4D5834;
$gray: #0E0000;
$light-gray: #F4F4F4;
$text-dark: #2a2c41;
