// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$orange: #E67E22;
$light-green: #E9EDE0;
$dark-green: #8DA05E;
$darker-green: #4D5834;
$gray: #0E0000;
$light-gray: #F4F4F4;


//svanna exclusive colors
$text-dark: #264653;
$primary-color: #2A9D8F;
$yellow: #FDBF50;
$primary-hover: #1F7369;
$subtext: #6A6A6A;
$border-grey: #ebebeb;
$dark-grey: #928B8B;
