a {
  color: $primary-color;
}

a:hover {
  color: $primary-hover;
}

a:active {
  color: $primary-hover;
}



h2 {

  font-size: 24px;
}
h3 {

  font-size: 24px;
}



h4 {
    font-weight: bold;
    font-size: 16px;
}

p {
  font-size: 16px;
}


