<div class="ratings">
    <% if user.avg_rating.zero? %>
    <% else %>
    <% user.avg_rating.times do %>
    <i class="fas fa-star"></i>
    <% end %>
    <% user.blank_stars.times do %>
    <i class="far fa-star"></i>
    <% end  %>
    <% end %>
</div>
