<div class="d-flex align-items-center flex-row mb-3">
    <div class="p-2 ">
        <img src="<%= cl_image_path @user.photo, height: 300, width: 300, crop: :fill %>" class="avatar-large">
    </div>
    <div class="p-2">
        <h2>
            <%= @user.username  %>
        </h2>
        <div class="ratings">
            <% @user.avg_rating.times do %>
            <i class="fas fa-star"></i>
            <% end %>
            <% @user.blank_stars.times do %>
            <i class="far fa-star"></i>
            <% end  %>
        </div>
    </div>
</div>
