<div class="card-vert-grid">
    <% user.foods.each do |food| %>
    <% unless food.donations.find_by_confirmed(true) %>
    <div class="card-vert">
        <%= cl_image_tag food.photo, height: 300, width: 400, crop: :fill %>
        <div class="card-vert-infos">
            <h2>
                <%= link_to "#{food.name}", food_path(food) %>
            </h2>
            <p>
                <% if user.avg_rating.nil? %>
                <i>No reviews</i>
                <% else %>
                <i class="far fa-star"></i>
                <%= user.avg_rating.to_f %> (
                <%= user.reviews_received.count %> reviews )
                <% end %>
            </p>
            <p>
                <i class="fas fa-map-marker-alt"></i> 0.3km away
            </p>
        </div>
    </div>
    <% end %>
    <% end %>
</div>
