.avatar-xs {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.avatar-sm {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.avatar-mid {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.avatar-lg {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  border: white 3px solid;
}

.food-mid {
    width: 48px;
    height: 48px;
    border-radius: 25%;
}

.no-svg .logo {
  width: 200px;
  height: 164px;
  background-image: url(kiwi.png);
}
