.btn-primary {
    background-color: $primary-color;
    color: white;
    border: 0px;
    border-radius: 8px;
    padding: 8px 24px;
    font-weight: bold;

    &:active {
        background-color: $primary-hover;
    }

    &:hover {
        background-color: $primary-hover;
    }
}

.btn-secondary {
    border: 1px solid $primary-color;
    color: $primary-color;
    box-sizing: border-box;
    border-radius: 16px;
    padding: 8px 24px;
    background-color: white;
    font-weight: bold;

    &:active {
        border: 1px solid $primary-hover;
        color: $primary-hover;
        background-color: white;
    }

    &:hover {
        background-color: $primary-hover;
        color: $primary-hover;
        background-color: white;
    }
}

.upload-btn-wrapper {
  overflow: hidden;
  padding: 20px;
  position:relative;
}

.btn-upload {
  border: 2px solid $primary-color;
  color: $primary-color;
  background-color: white;
  border-radius: 50%;
  font-size: 32px;
  font-weight: bold;
  width: 100px;
  height: 100px;
  text-align: center;

}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  width: 110px;
  height: 110px;
 left: 114px;
    top: 18px;
  opacity: 0;
}
