.btn-primary {
    background-color: $primary-color;
    color: white;
    border: 0px;
    border-radius: 8px;
    padding: 8px 24px;

    &:active {
        background-color: $primary-hover;
    }

    &:hover {
        background-color: $primary-hover;
    }
}

.btn-secondary {
    border: 1px solid $primary-color;
    box-sizing: border-box;
    border-radius: 16px;
    padding: 8px 24px;
    background-color: nil;

    &:active {
        border: 1px solid $primary-hover;
    }

    &:hover {
        background-color: $primary-hover;
    }
}
