.cards-scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  .card-category {
    display: inline-block;
    width: 160px;
    height: 120px;
    margin: 5px;
    border-radius: .5em;
    text-align: center;
    line-height: 120px;
  }
}

.card-hori {
  overflow: hidden;
  height: 100px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 10px;
}

.card-hori img {
  height: 100%;
  width: 120px;
  object-fit: cover;
  border-radius: .3em;
}

.card-hori h2 {
  font-size: 15px;
  font-weight: bold;
}

.card-hori p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-content {
  margin-left: 15px;
}

.card-hori .card-hori-infos {
  padding: 16px;
}

.card-avatar {
  width: 50%;
  border-radius: 50%;
}

.container-header {
  margin: 20px;
}


.card-vert-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.card-vert {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-vert > img {
  height: 136px;
  width: 100%;
  object-fit: cover;
}

.card-vert h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-vert p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}
