.cards-scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    text-decoration: none;

    .card-category {
        display: inline-block;
        width: 160px;
        height: 120px;
        margin: 5px;
        border-radius: .5em;
        text-align: center;
        line-height: 120px;
        text-decoration: none;
    }
}


.big-card {
    overflow: hidden;
}

.big-card>img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.big-card h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.big-card p {
    font-size: 16px;
    margin: 0;
}

.big-card .big-card-infos {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
}

.big-card-infos .big-card-location {
    position: absolute;
    right: 16px;
    top: -32px;
    width: 80px;
    background-color: white;
    padding: 4px;
    border-radius: 24px;
    text-align: center;

    p {
        font-size: 12px;
        color: $subtext;
    }
}

.profile-card {
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 16px 16px 16px 16px;
    display: flex;
    margin-bottom: 16px;

    p {
        margin: 0px;
    }

    h4 {
        font-weight: bold;
        font-size: 16px;
        margin: 0px;
    }

    h6 {
        font-size: 14px;
        color: $subtext;
        margin: 0px;
    }

    img {
      flex-grow: 1;
      margin-right: 16px;
    }

    .content {
      flex-grow: 2;
    }

}

.profile-card h4 a {
    color: $text-dark;
}
