.message-card {
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    margin-bottom: 16px;
    width: 264px;

    p {
        margin: 0px;
    }

    h4 {
        font-weight: bold;
        font-size: 16px;
        margin: 0px;
    }

    h6 {
        font-size: 14px;
        color: $subtext;
        margin: 0px;
    }

    &.left {
      float:left;
    }

    &.right {
      float:right;
    }

}

.message-card h4 a {
    color: $text-dark;
}

.message-card .sent {
    width: 270px;
}
