.panel {
    background-color: white;
    box-shadow: 2px 2px 32px rgba(141, 160, 94, 0.25);
    z-index: 3;
    position: relative;
    top: 240px;

}

.food-background {
    height: 266px;
    width: 100%;
    background-size: cover;
    background-position: 0;
    background-repeat: no-repeat;
}


.home-panel {
    position: relative;
    background-color: white;
    box-shadow: 2px 2px 32px rgba(141, 160, 94, 0.25);
    z-index: 2;
    top: -20px;
    background-color: white;
    border-radius: 32px 32px 0px 0px;
    padding: 16px;
}

.food-panel {
    position: relative;
    background-color: white;
    box-shadow: 2px 2px 32px rgba(141, 160, 94, 0.25);
    z-index: 3;
    top: -20px;
    background-color: white;
    border-radius: 32px 32px 0px 0px;
    padding: 16px;
}

.food-categories {
    display: flex;
    justify-content: flex-end;
    margin-right: 16px;
}

.food-category {
    background-color: $primary-color;
    color: white;
    border: 0px;
    border-radius: 4px;
    padding: 8px 16px;
    position: relative;
    top: -35px;
}


.panel-content {
    background-color: white;
    border-radius: 32px 32px 0px 0px;
    padding: 16px;
}

.panel-content .ratings {
    color: $yellow;
}


