
<% @user.reviews.each do |review| %>
<div class="card-hori">
    <div class="card-content">
        <div class="ratings">
            <% if @user.avg_rating.zero? %>
            <i>No reviews yet</i>
            <% else %>
            <% @user.avg_rating.times do %>
            <i class="fas fa-star"></i>
            <% end %>
            <% @user.blank_stars.times do %>
            <i class="far fa-star"></i>
            <% end  %>
            <% end %>
        </div>
        <h2>
            <%= @user.username %>
        </h2>
        <p>
            <%= review.content %>
        </p>
    </div>
</div>
<% end %>
