
<h2><%= @user.username %>'s Reviews </h2>
<% if @reviews.any? %>

<% @reviews.each do |review| %>
<% if policy(Review).index? %>
<%= render "review", user: @user %>
<% end %>
<% end %>
<% else %>
<p>No reviews yet </p>"
<% end %>
