
<h2><%= @user.username %>'s Reviews </h2>
<% if @user.reviews_received.any? %>

<% @user.reviews_received.each do |review| %>
<%= render "review", user: @user %>
<% end %>
<% else %>
<p>No reviews yet </p>"
<% end %>
